# for

In [1]:
animals = ['코알라', '하이에나', '바다소', '땅다람쥐', '스컹크', '아나콘다']

### - animals에 있는 원소들을 하나씩 출력

In [2]:
for animal in animals:
    print(animal)

코알라
하이에나
바다소
땅다람쥐
스컹크
아나콘다

### - 리스트 형식

In [3]:
for num in [1,2,3]:
    print(num)

1
2
3

### - 문자열도 가능

In [4]:
for my_str in '김왼손의 왼손코딩':
    print(my_str)

김
왼
손
의

왼
손
코
딩

# range()

### range 내장 함수. 첫 숫자 부터 끝-1 숫자 까지

In [5]:
range(3)

range(0, 3)

In [6]:
type(range(3))

range

In [7]:
for n in [0,1,2]:
    print(n)

0
1
2

### 위와 동일한 형태를 range()로 표현

In [8]:
for n in range(0,3):
    print(n)

0
1
2

### 큰 수의 범위도 쉽게 표현 가능

In [9]:
for n in range(0,100):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# for문의 중첩

In [14]:
for j in range(2,10):
    for i in range(1,10):
        print('{}x{}={}'.format(j, i, j*i))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81