# List

- 대괄호([ ])을 사용한다.

In [1]:
my_list = []

- 리스트내에 값 할당

In [2]:
my_list = [1, 2, 3]

In [3]:
students=['해','벅','Haebuk','Kade']

In [4]:
students

['해', '벅', 'Haebuk', 'Kade']

- 반복문을 사용하여 리스트내의 값 순차적으로 추출

In [7]:
for std in students:
    print(std)

해
벅
Haebuk
Kade

- random 라이브러리를 이용하여 리스트내의 값 랜덤 추출

In [8]:
import random

In [13]:
print(random.choice(students))

해

In [24]:
print(random.choice(students))

벅

- 리스트에 append()함수를 이용하여 값을 추가할 수 있다.

In [16]:
students.append('카데')

In [17]:
students

['해', '벅', 'Haebuk', 'Kade', '카데', '카데']

- 원래 있던 값을 다른 값으로 바꿀 수 있다.

In [18]:
students[0] = 'Hae'
students

['Hae', '벅', 'Haebuk', 'Kade', '카데', '카데']

# Tuple

- 소괄호(( ))을 사용한다.

In [19]:
my_tuple = ('해','벅','해벅')

- 리스트와 달리 값을 대체할 수 없다.

In [20]:
my_tuple[0] = '카데'

TypeError: 'tuple' object does not support item assignment

# Dictionary

- 키와 값으로 이루어져 있다. 중괄호 사용({ })

In [21]:
my_dict = {'카데':'남', '해벅':'여'}

- 키를 불러오면 값을 출력한다.

In [22]:
my_dict['카데']

'남'

- 키를 다른 값으로 대체할 수 있다.

In [23]:
my_dict['카데'] = '여'
my_dict

{'카데': '여', '해벅': '여'}

# Indexing

In [25]:
animals = ['코알라','하이에나','바다소','땅다람쥐']

- 요소 추가

In [26]:
animals.append('바다코끼리')

In [27]:
animals.append('스컹크')

In [28]:
animals.append('아나콘다')

In [29]:
animals

['코알라', '하이에나', '바다소', '땅다람쥐', '바다코끼리', '스컹크', '아나콘다']

- 특정 값 불러오기

In [33]:
animals[3]

'땅다람쥐'

- del: 특정 값 삭제

In [34]:
del animals[4]

In [35]:
animals

['코알라', '하이에나', '바다소', '땅다람쥐', '스컹크', '아나콘다']

# Slicing

- 시작 부터 끝 전까지 호출

In [36]:
animals[1:3]

['하이에나', '바다소']

# list.sort()

In [37]:
animals

['코알라', '하이에나', '바다소', '땅다람쥐', '스컹크', '아나콘다']

- ㄱㄴㄷ 순 정렬

In [39]:
animals.sort()

In [40]:
animals

['땅다람쥐', '바다소', '스컹크', '아나콘다', '코알라', '하이에나']

# list.count ()

In [41]:
animals.append('바다소')

- 일치하는 수 세기

In [42]:
animals.count('바다소')

2

In [43]:
animals.count('코알라')

1

- 리스트의 원소 개수 세기

In [44]:
len(animals)

7

In [45]:
animals

['땅다람쥐', '바다소', '스컹크', '아나콘다', '코알라', '하이에나', '바다소']