# Operator

### Assign : 할당 연산자 <br>= += -= *= /=

오른쪽의 값을 왼쪽에 할당한다

In [13]:
count = 0

In [14]:
count

0

In [15]:
count = count + 1; count

1

In [16]:
count += 1 ; count

2

In [17]:
count -= 1 ; count

1

### Arithmetic : 산술 연산자 <br> + - * /

In [18]:
3 + 3

6

In [19]:
20 - 5

15

In [20]:
6 * 2

12

In [21]:
12 / 3

4.0

#### ** // % 특수 연산자

- ** : 제곱을 의미

In [30]:
3**2 # 3^2

9

In [26]:
4**3 # 4^3

64

- //: 몫을 의미

In [25]:
7//3 # 7/3의 몫

2

- %: 나머지를 의미

In [29]:
7%3 # 7/3의 나머지

1

In [31]:
numbers = [1,2,3,4,5,6,7]

In [32]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7

- 1을 2로 나눈 나머지가 1이므로 홀수 출력

In [33]:
if 1 % 2 == 1:
    print('홀수')

홀수

- 2을 2로 나눈 나머지가 0이므로 짝수 출력

In [35]:
if 2 % 2 == 0:
    print('짝수')

짝수

- 반복문을 활용하여 리스트 내 숫자 홀짝 판별

In [39]:
for number in numbers:
    if number % 2 == 1:
        print(number, '는 홀수')
    else:
        print(number, '는 짝수')

1 는 홀수
2 는 짝수
3 는 홀수
4 는 짝수
5 는 홀수
6 는 짝수
7 는 홀수

### String : 문자열 연산자

- +는 문자열을 붙이는 역할

In [40]:
'김왼손' + 'X' + '엘리스'

'김왼손X엘리스'

In [41]:
'안녕하세요'+"반갑습니다"

'안녕하세요반갑습니다'

In [42]:
'안녕하세요'+ ' '+ '반갑습니다'

'안녕하세요 반갑습니다'

- *는 문자열 반복할 때

In [43]:
'안녕' * 3

'안녕안녕안녕'

- *를 활용한 지우개 만들기

In [45]:
def cls():
    print('\n' * 100)

In [46]:
cls()

### Comparison : 비교 연산자 <br> < > <= >= != ==

In [47]:
1 < 2

True

In [57]:
2 < 1

False

In [50]:
4 <= 6

True

In [52]:
5 <= 5

True

In [55]:
2 == 2

True

In [56]:
2!=3

True

### Logical : 논리 연산자 <br> and or not

- and : 둘다 True일 경우만 True 반환

In [58]:
True and True

True

In [59]:
True and False

False

In [60]:
False and False

False

- or : 하나라도 True이면 True 반환

In [61]:
True or True

True

In [62]:
True or False

True

In [63]:
False or False

False

- not : 반대로 반환

In [66]:
not False

True

In [65]:
not True

False

- 여러예제

In [67]:
height = 120; age = 8

In [68]:
height > 140 and age > 10

False

In [69]:
h = 190
age = 9

In [70]:
h > 140 and age > 10

False

In [71]:
h = 150
age = 32

In [72]:
h > 140 and age > 10

True

### Membership : 멤버십 연산자<br> in, not in

In [74]:
김왼손과_집단지성들 = ['조희진','불탄고등어','요거트','류도영','스치','망고',
              'Meta','호박']

- in / not in 을 이용하여 리스트내 동일 원소가 존재하는 지 판단

In [75]:
'스치' in 김왼손과_집단지성들

True

In [76]:
'해벅' in 김왼손과_집단지성들

False

In [77]:
'해벅' not in 김왼손과_집단지성들

True

In [78]:
김왼손과_집단지성들.append('해벅')

In [79]:
'해벅' in 김왼손과_집단지성들

True