# String

- 큰 따옴표

In [1]:
my_str = "해벅"

In [2]:
print(my_str)

해벅

In [3]:
type(my_str)

str

- 작은 따옴표

In [4]:
my_str = '카데'

In [5]:
print(my_str)

카데

In [6]:
type(my_str)

str

- 큰 따옴표(작은 따옴표도 가능) 세 개를 이용하여 여러줄 한 번에 입력

In [8]:
my_str = """제스퍼
토미
메타
"""

In [9]:
my_str

'제스퍼\n토미\n메타\n'

#  문자열 Formatting

- %s 을 이용하여 문자열을 받아서 출력하기

In [10]:
my_str = 'My name is %s' % "Kade"

In [11]:
my_str

'My name is Kade'

- 여러개를 쓰려면 괄호를 이용

In [12]:
'%d %d' %(1,2)

'1 2'

- %f 는 실수 받을 때 사용

In [13]:
'%f' %3.14

'3.140000'

# 좀 더 파이썬스러운 방법?

- 고전 방법

In [14]:
'My name is %s' % '해벅'

'My name is 해벅'

- 중괄호와 format을 이용한 방법

In [15]:
'My name is {}'.format('해벅')

'My name is 해벅'

- 순서대로 받아서 중괄호에 출력

In [16]:
'{} x {} = {}'.format(2, 3, 2*3)

'2 x 3 = 6'

- 중괄호 안에 주소를 입력하여 출력

In [17]:
'{1} x {0} = {2}'.format(2, 3, 2*3)

'3 x 2 = 6'

# Indexing

### 주소를 활용하여 출력하기

In [18]:
my_name = "김왼손의 왼손코딩"

           0 1 2 3 4 5 6 7 8

In [19]:
my_name[3]

'의'

In [20]:
my_name[8]

'딩'

p y t h o n
<br>-6-5-4-3-2-1
<br> 거꾸로 쓸 때

In [21]:
my_name[-1]

'딩'

# Slicing

### 문자열 슬라이싱

In [22]:
my_name

'김왼손의 왼손코딩'

   0 1 2 3 4 5 6 7 8 9

In [24]:
my_name[5:7]

'왼손'

# 문자열 메서드

### string.split()

In [25]:
my_name

'김왼손의 왼손코딩'

### 공백 기준으로 나누기

In [26]:
my_name.split()

['김왼손의', '왼손코딩']

### 공백 기준으로 나누기 2

In [27]:
fruit_str = '거봉 수박 포도 복숭아 망고 딸기 배 참외'

In [28]:
fruit_str

'거봉 수박 포도 복숭아 망고 딸기 배 참외'

In [29]:
fruits = fruit_str.split()

In [30]:
fruits

['거봉', '수박', '포도', '복숭아', '망고', '딸기', '배', '참외']